# SQL queries of Movies database

In [2]:
# Import sql3 library
import sqlite3

In [3]:
# Create connection to sqlite database
conn = sqlite3.connect('data/movies.sqlite')
db = conn.cursor()

In [4]:
# Columns 'title', 'rating', 'vote_count', 'start_year', 'minutes', 'genres', 'imdb_id', 'id', 'director_id'

In [30]:
# Show everything for first 5 movies
db.execute("""SELECT * 
              FROM movies
              LIMIT 5;""")
rows = db.fetchall()
print(rows)

[('A Trip to the Moon', '8.2', 39710, 1902, 13, 'Action,Adventure,Comedy', 'tt0000417', 1, 1), ('The Great Train Robbery', '7.3', 15526, 1903, 11, 'Action,Crime,Short', 'tt0000439', 2, 2), ('The Birth of a Nation', '6.4', 20774, 1915, 195, 'Drama,History,War', 'tt0004972', 3, 4), ("Intolerance: Love's Struggle Throughout the Ages", '7.8', 13051, 1916, 163, 'Drama,History', 'tt0006864', 4, 4), ('The Cabinet of Dr. Caligari', '8.1', 51029, 1920, 76, 'Fantasy,Horror,Mystery', 'tt0010323', 5, 5)]

In [7]:
# How many movies?
db.execute("""SELECT COUNT(*)
              FROM movies;""")
rows = db.fetchall()
print(rows)

[(9875,)]

In [8]:
# First and most recent by year
db.execute("""SELECT MIN(start_year), MAX(start_year)
              FROM movies;""")
rows = db.fetchall()
print(rows)

[(1902, 2019)]

In [9]:
# Worst rating
db.execute("""SELECT title, MIN(rating)
              FROM movies;""")
rows = db.fetchall()
print(rows)

[('Cumali Ceber: Allah Seni Alsin', '1.0')]

In [10]:
# Best rating
db.execute("""SELECT title, MAX(rating)
              FROM movies;""")
rows = db.fetchall()
print(rows)

[('The Rains of Castamere', '9.9')]

In [11]:
# Movies with rating > 9.0
db.execute("""SELECT COUNT(*)
              FROM movies
              WHERE rating > 9;""")
rows = db.fetchall()
print(rows)

[(205,)]

In [12]:
# Movies longer then 100min and rating < 2
db.execute("""SELECT title, minutes
              FROM movies
              WHERE minutes > 100
              AND rating < 2;""")
rows = db.fetchall()
print(rows)

[('Turks in Space', 110), ('Justin Bieber: Never Say Never', 105), ('Birdemic: Shock and Terror', 105), ('Code Name: K.O.Z.', 114), ('Reis', 108)]

In [13]:
# AVG rating and minutes
db.execute("""SELECT AVG(rating), AVG(minutes)
              FROM movies;""")
rows = db.fetchall()
print(rows)

[(6.8710278481012415, 102.07481195364912)]

In [14]:
# How many for each genre first 10
db.execute("""SELECT genres, COUNT(*)
              FROM movies
              GROUP BY genres
              LIMIT 10;""")
rows = db.fetchall()
print(rows)

[('Action', 6), ('Action,Adventure', 14), ('Action,Adventure,Animation', 155), ('Action,Adventure,Biography', 13), ('Action,Adventure,Comedy', 153), ('Action,Adventure,Crime', 53), ('Action,Adventure,Documentary', 1), ('Action,Adventure,Drama', 205), ('Action,Adventure,Family', 22), ('Action,Adventure,Fantasy', 97)]

In [17]:
# Common table expression showing the director number and the amount of minutes the have produced, first 10
db.execute("""WITH short AS(SELECT director_id, SUM(minutes) AS total_director_time
                            FROM movies
                            GROUP BY director_id)

              SELECT director_id, total_director_time
              FROM short
              LIMIT 10;""")
rows = db.fetchall()
print(rows)

[(1, 13), (2, 11), (4, 358), (5, 76), (13, 795), (14, 91), (18, 372), (19, 74), (21, 112), (22, 75)]

In [18]:
# Window function showing total minutes for each genre, first 10
db.execute("""SELECT genres, SUM(minutes) OVER()
              FROM movies\
              GROUP BY genres
              LIMIT 10;""")
rows = db.fetchall()
print(rows)

[('Action', 52313), ('Action,Adventure', 52313), ('Action,Adventure,Animation', 52313), ('Action,Adventure,Biography', 52313), ('Action,Adventure,Comedy', 52313), ('Action,Adventure,Crime', 52313), ('Action,Adventure,Documentary', 52313), ('Action,Adventure,Drama', 52313), ('Action,Adventure,Family', 52313), ('Action,Adventure,Fantasy', 52313)]

In [19]:
# Get the best movie by year, first 10
db.execute("""SELECT title, MAX(rating), start_year
              FROM movies
              GROUP BY start_year
              ORDER BY start_year
              LIMIT 10;""")
rows = db.fetchall()
print(rows)

[('A Trip to the Moon', '8.2', 1902), ('The Great Train Robbery', '7.3', 1903), ('The Birth of a Nation', '6.4', 1915), ("Intolerance: Love's Struggle Throughout the Ages", '7.8', 1916), ('The Cabinet of Dr. Caligari', '8.1', 1920), ('The Kid', '8.3', 1921), ('Nosferatu', '7.9', 1922), ('Safety Last!', '8.1', 1923), ('Sherlock Jr.', '8.2', 1924), ('The Gold Rush', '8.2', 1925)]

In [20]:
# Case statement on movie length, first 10
db.execute("""SELECT title, minutes,
              CASE
                  WHEN minutes < 30 THEN 'Short movie'
                  WHEN minutes > 90 THEN 'Long movie'
                  ELSE 'Medium length movie'
              END time_frame
              FROM movies
              WHERE rating > 9
              LIMIT 10;""")
rows = db.fetchall()
print(rows)

[('The Twilight Zone', 51, 'Medium length movie'), ('The Godfather', 175, 'Long movie'), ('The Godfather: Part II', 202, 'Long movie'), ('The Godfather Trilogy: 1901-1980', 583, 'Long movie'), ('The World at War', 52, 'Medium length movie'), ('The Marathon Family', 92, 'Long movie'), ('Breaking Bad', 49, 'Medium length movie'), ('Cosmos', 60, 'Medium length movie'), ('Dekalog', 572, 'Long movie'), ('The Civil War', 680, 'Long movie')]

In [29]:
# Find specific movie
db.execute("""SELECT *
              FROM movies
              WHERE title LIKE 'The Lord of the Rings';""")
rows = db.fetchall()
print(rows)

[('The Lord of the Rings', '6.2', 27903, 1978, 132, 'Adventure,Animation,Fantasy', 'tt0077869', 1087, 1088)]