# All queries were done in Dbeaver

## Databases

In [ ]:
# Get everything from the first ten lines of movies.db.

SELECT *
FROM movies
LIMIT 10;

|title                                           |rating|vote_count|start_year|minutes|genres                 |imdb_id  |id |director_id|
|------------------------------------------------|------|----------|----------|-------|-----------------------|---------|---|-----------|
|A Trip to the Moon                              |8.2   |39710     |1902      |13     |Action,Adventure,Comedy|tt0000417|1  |1          |
|The Great Train Robbery                         |7.3   |15526     |1903      |11     |Action,Crime,Short     |tt0000439|2  |2          |
|Intolerance: Love's Struggle Throughout the Ages|7.8   |13051     |1916      |163    |Drama,History          |tt0006864|4  |4          |
|The Cabinet of Dr. Caligari                     |8.1   |51029     |1920      |76     |Fantasy,Horror,Mystery |tt0010323|5  |5          |
|The Kid                                         |8.3   |100448    |1921      |68     |Comedy,Drama,Family    |tt0012349|6  |13         |
|The Gold Rush                                   |8.2   |91289     |1925      |95     |Adventure,Comedy,Drama |tt0015864|7  |13         |
|The Circus                                      |8.2   |23402     |1928      |72     |Comedy,Romance         |tt0018773|8  |13         |
|City Lights                                     |8.5   |151274    |1931      |87     |Comedy,Drama,Romance   |tt0021749|9  |13         |
|Modern Times                                    |8.5   |195831    |1936      |87     |Comedy,Drama,Family    |tt0027977|10 |13         |
|The Great Dictator                              |8.5   |185034    |1940      |125    |Comedy,Drama,War       |tt0032553|11 |13         |

In [ ]:
# Get all data from first ten lines of directors.db.

SELECT *
FROM directors
LIMIT 10;

|name                |birth_year|death_year|imdb_director_id|id |
|--------------------|----------|----------|----------------|---|
|Georges Méliès      |1861      |1938      |nm0617588       |1  |
|Edwin S. Porter     |1870      |1941      |nm0692105       |2  |
|D.W. Griffith       |1875      |1948      |nm0000428       |4  |
|Robert Wiene        |1873      |1938      |nm0927468       |5  |
|Charles Chaplin     |1889      |1977      |nm0000122       |13 |
|Benjamin Christensen|1879      |1959      |nm0159725       |14 |
|F.W. Murnau         |1888      |1931      |nm0003638       |18 |
|Fred C. Newmeyer    |1888      |1967      |nm0628345       |19 |
|Buster Keaton       |1895      |1966      |nm0000036       |21 |
|Sergei M. Eisenstein|1898      |1948      |nm0001178       |22 |

# Queries

In [ ]:
# Match the first 10 movies to their directors

SELECT d.name, m.title
FROM directors d
JOIN movies m ON m.director_id = d.id
LIMIT 10;

# Selected names and titles from directors and the movie db joined to the director db
# based on the director id.


|name           |title                                           |
|---------------|------------------------------------------------|
|Georges Méliès |A Trip to the Moon                              |
|Edwin S. Porter|The Great Train Robbery                         |
|D.W. Griffith  |Intolerance: Love's Struggle Throughout the Ages|
|Robert Wiene   |The Cabinet of Dr. Caligari                     |
|Charles Chaplin|The Kid                                         |
|Charles Chaplin|The Gold Rush                                   |
|Charles Chaplin|The Circus                                      |
|Charles Chaplin|City Lights                                     |
|Charles Chaplin|Modern Times                                    |
|Charles Chaplin|The Great Dictator                              |

In [ ]:
# How many movies did Charles Chaplin direct?

SELECT  COUNT(m.title) AS num_of_movies
FROM movies m
JOIN directors d ON d.id = m.director_id
WHERE d.name = 'Charles Chaplin';

# Use the built in COUNT() on the title column from movies, that had been joined to directors
# and filter so the name given returns with all movies in the data base.

|num_of_movies|
|-------------|
|8            |

In [ ]:
# How many people's names begin with the letter S?

SELECT COUNT(d.name) AS names_start_with_s
FROM directors d 
WHERE d.name LIKE 'S%';

# Count the number of names selected from directors where the name starts with a letter
# like "S".

|names_start_with_s|
|------------------|
|335               |

In [ ]:
# What movie is the longest?

SELECT m.title, MAX(m.minutes) AS longest
FROM movies m; 

# Get title name and use built in MAX() to get longest film from movies

|title          |minutes|
|---------------|-------|
|The Vietnam War|990    |

In [ ]:
# How many movies were released in the years 1963 and 1977?

SELECT COUNT(m.title) AS total_releases
FROM movies m 
WHERE m.start_year IN (1963, 1977);

# Use COUNT() on the movie titles

|total_releases|
|--------------|
|67            |

In [ ]:
# What is the average rating of all films between 1970 and 1990?

SELECT AVG(m.rating) AS ave_rating
FROM movies m 
WHERE m.start_year BETWEEN 1970 AND 1990;

# Take the average AVG() of rating from movies then set the time frame BETWEEN 1970 and 1990.

|ave_rating      |
|----------------|
|7.01373322809787|

In [ ]:
# What is the average year of a directors first movie?

SELECT d.name, m.start_year - d.birth_year AS age_of_first_movie
FROM movies m
JOIN directors d ON d.id = m.director_id
LIMIT 5;

# Subtract the year the director was born from the year of their first film by joining the
# two databases on the directors id and only Return the first five.

|name           |age_of_first_movie|
|---------------|------------------|
|Georges Méliès |41                |
|Edwin S. Porter|33                |
|D.W. Griffith  |41                |
|Robert Wiene   |47                |
|Charles Chaplin|32                |

In [9]:
# Return a list of all directors and their film(s) with a rating over 9.0.

SELECT d.name, m.title, m.rating
FROM movies m 
JOIN directors d ON d.id = m.director_id 
GROUP BY m.rating 
HAVING m.rating > 9.0;

# Select the director name from directors and movie name from movies, join them on 
# director_id and id, group them and filter them so that only movies and the directors with
# a rating greater then 9.0 is returned.

|name                |title                           |rating|
|--------------------|--------------------------------|------|
|Ken Burns           |The Vietnam War                 |9.1   |
|Francis Ford Coppola|The Godfather                   |9.2   |
|Francis Ford Coppola|The Godfather Trilogy: 1901-1980|9.3   |
|David Nutter        |Game of Thrones                 |9.4   |
|Peter Medak         |Breaking Bad                    |9.5   |
|Wesley Archer       |The Rickshank Rickdemption      |9.6   |
|Jack Bender         |The Door                        |9.7   |
|Hettie Macdonald    |Blink                           |9.8   |
|David Nutter        |The Rains of Castamere          |9.9   |

# CASE and JOIN(s)

In [1]:
# Write out opinion of movies in 2000 by giving them 'Good', 'Ok', and 'Bad'.

SELECT m.title, m.rating, 
	CASE WHEN m.rating > 8.0 THEN 'Good movie'
		WHEN m.rating > 5.0 THEN 'Ok movie'
		ELSE 'Bad movie' END 
		AS 'Movie_opinion_2000'
FROM movies m 
WHERE m.start_year = 2000
LIMIT 10;

# From the movies data return the tile and rating of the movie. They will be seperated into 
# three new opinions in a new column by using multiple WHEN statements inside of a 
# CASE statement.

SyntaxError: invalid syntax (3433321661.py, line 3)

|title                   |rating|Movie_opinion_2000|
|------------------------|------|------------------|
|Reindeer Games          |5.8   |Ok movie          |
|The Next Best Thing     |4.6   |Bad movie         |
|Small Time Crooks       |6.7   |Ok movie          |
|Dr. T & the Women       |4.6   |Bad movie         |
|Rules of Engagement     |6.4   |Ok movie          |
|Space Cowboys           |6.4   |Ok movie          |
|Scream 3                |5.5   |Ok movie          |
|Cecil B. DeMented       |6.2   |Ok movie          |
|Mission to Mars         |5.7   |Ok movie          |
|The Million Dollar Hotel|5.9   |Ok movie          |